<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="main-container main-menu">
      <span>My First App</span>
      <button class="aling-right" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
