.dashboard-wrapper {
  > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    > div {
      width: 100%;
      &:first-child {
        margin-right: 20px;
      }
      &:last-child {
        margin-left: 20px;
      }
    }
  }
  .stats {
    width: 100%;
    margin-top: 30px;
    mat-card {
      width: 100%;
    }
  }

  mat-card.pointer:hover {
    cursor: pointer;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    .card-title {
      font-size: 30px;
      color: rgb(44, 44, 44);
    }
    .card-number {
      font-size: 40px;
    }
  }
}
