<div class="basic-wrapper">
  <form [formGroup]="productForm">
    <mat-form-field>
      <input matInput placeholder="ID" formControlName="id" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Marca" formControlName="marca" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Model" formControlName="model" />
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="save()" color="primary">Guardar</button>
</div>
