<div class="dashboard-wrapper">
  <div>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Productos</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ventas</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
  <div class="stats">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Estadísticas</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
</div>
